<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ng.com.onlinemedia.mobilepharmarcy"
        version   = "1.0.2">

    <name>Mobile Pharmacy</name>

    <description>
        Mobile Pharmacy Application
    </description>

    <author href="http://onlinemedia.com.ng" email="admin@onlinemedia.com.ng">
        OnlineMedia
    </author>

    <!-- Define the main entry-point to the application -->
    <content src="index.html" />

    <!-- Customize your app and platform with the preference element. -->
    <preference name="DisallowOverscroll"         value="true" />
    <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-minSdkVersion"      value="14" />

    <icon src="img/icon.png" />
    <splash src="img/splash.png" />

    <platform name="android">
        <icon density="ldpi" src="img/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="img/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="img/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="img/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="img/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="img/icon/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="img/screens/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="img/screens/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="img/screens/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="img/screens/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="img/screens/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="img/screens/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="img/screens/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="img/screens/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="img/screens/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="img/screens/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="img/screens/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="img/screens/android/drawable-port-xxxhdpi-screen.png" />
    </platform>

    <!-- Define a specific version of PhoneGap to build into your app. -->
    <!-- <preference name="phonegap-version"       value="cli-6.0.0" /> -->

    <!-- Plugins -->
    <!-- Core plugins -->    
    <plugin name="cordova-plugin-whitelist"           source="npm" spec="~1.2.1" />

    <!-- Define app icon and splashscreen for each platform. -->
    <icon src="icon.png" />
    
    
    

    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*" />
    <!--
       <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
       <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
       <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />    
</widget>
